.textbox{
    width: 90%;
    padding: 1em;
    margin: 2em auto;
    border: solid lightgrey 1px;
    border-radius:5px 5px 5px 5px ;
}

.textbox:focus{
    border: 2px solid black;
    box-shadow: 5px 5px;
}

.searchContainer{
    background-color: #444444;
    display: flex;
    padding:2em;
    flex-direction: column;
}

.btn{
    padding: 0.6em 2em;
    font-size: 1.2em;
    border-radius: 5px 5px;
    background-color: #070a39;
    color:white;
    border: none;
    text-transform: uppercase;
    font-weight: 550;
}

.btn:hover{
    cursor: pointer;
    box-shadow: #68d391 2px 2px;
}

@media (min-width: 900px){
    .searchContainer{
        padding-left: 15vw;
        padding-right: 15vw;   
    }
    .textbox{
        width: 95%;
    }   
}

.table{
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.table th {
    color: #f4d47c;
}

.table tr {
    color: #fae6af;
}

.tablerow {
    /* border: solid #5580a4; */
    padding: 1em 0;
}

.sattaform{
    width: 80%;
    margin: 0 auto;
    background-color: #082c6c;
    padding: 2em;
    padding-top: 1em;
    box-shadow: 12px 12px;
    color:#fae6af;

}
tr:nth-child(even) {background-color: #696969;}


h2{
    text-decoration: underline;
}

h1, h2, h4{
    color: #f4d47c;
}

p, label span {
    color: #fae6af;
}

.btn-satta{
    font-size: 1em;
    align-self: center;
    margin: 2em 0 0 0;
}